<div class="card text-center mt-4">
    <div class="card-header">
        <ul class="nav nav-pills card-header-pills">
            <li class="nav-item">
                <a class="nav-link" routerLink="/">Voltar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" type="button" data-toggle="modal" data-target="#exampleModal">Novo</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <h5 class="card-title">Usuários</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" id="nome" name="name" [(ngModel)]="user.name">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" [(ngModel)]="user.email">
          </div>
          <div class="form-group">
            <label for="age">Idade</label>
            <input type="text" class="form-control" id="age" name="age" [(ngModel)]="user.age">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="createOrUpdate(user.id)">Salvar</button>
      </div>
    </div>
  </div>
</div>
