<div class="row mt-4">

    <div class="col-sm-6">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title">Usuários</h5>
          <p class="card-text">Visualize, crie edite ou exclua.</p>
          <a routerLink="/users" class="btn btn-primary">Ver mais</a>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title">Produtos</h5>
          <p class="card-text">Visualize, crie edite ou exclua.</p>
          <a routerLink="/products" class="btn btn-primary">Ver mais</a>
        </div>
      </div>
    </div>
    
  </div>
